## Importing libraries

In [227]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

## Load the dataset

In [228]:
df = pd.read_csv('C:/users/Mehedi Hassan Galib/desktop/python/datas/housing_price.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

## Handling missing values

In [229]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         5
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [230]:
df1 = df.fillna(df.mean())

In [231]:
df1.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

## Observing the correlation

In [232]:
corr = df1.corr()
corr['MEDV'].sort_values(ascending = False)

MEDV       1.000000
RM         0.695375
ZN         0.360445
B          0.333461
DIS        0.249929
CHAS       0.175260
AGE       -0.376955
RAD       -0.381626
CRIM      -0.388305
NOX       -0.427321
TAX       -0.468536
INDUS     -0.483725
PTRATIO   -0.507787
LSTAT     -0.737663
Name: MEDV, dtype: float64

## Attribute combination

In [233]:
df1['TAXRM'] = df1['TAX']/df1['RM']

## Again Observing the correlation

In [234]:
corr = df1.corr()
corr['MEDV'].sort_values(ascending = False)

MEDV       1.000000
RM         0.695375
ZN         0.360445
B          0.333461
DIS        0.249929
CHAS       0.175260
AGE       -0.376955
RAD       -0.381626
CRIM      -0.388305
NOX       -0.427321
TAX       -0.468536
INDUS     -0.483725
PTRATIO   -0.507787
TAXRM     -0.537589
LSTAT     -0.737663
Name: MEDV, dtype: float64

## Split into explanatory and response variable

In [235]:
X = pd.DataFrame(df1[['RM','INDUS','PTRATIO', 'TAXRM', 'LSTAT']])
y = df1[['MEDV']]

## Feature Scaling

In [236]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

## Split into train and test

In [237]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

<br/>
<br/>
<br/>

## Linear Regression Model

In [238]:
lr = LinearRegression()
model_lr = lr.fit(X_train, y_train)

In [239]:
y_pred_lr = lr.predict(X_test)

In [240]:
r_square_lr = metrics.r2_score(y_test, y_pred_lr)
r_square_lr

0.6297998461004162

<br/>
<br/>
<br/>

## Decision Tree Regressor Model

In [241]:
dt = DecisionTreeRegressor()
model_dt = dt.fit(X_train, y_train)

In [242]:
y_pred_dt = dt.predict(X_test)

In [243]:
r_square_dt = metrics.r2_score(y_test, y_pred_dt)
r_square_dt

0.6098539974353727

<br/>
<br/>
<br/>

## Random Forest Regressor Model

In [244]:
rf = RandomForestRegressor()
model_rf = rf.fit(X_train, y_train)

<ipython-input-244-95ecaf0b8d51>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_rf = rf.fit(X_train, y_train)

In [245]:
y_pred_rf = rf.predict(X_test)

In [246]:
r_square_rf = metrics.r2_score(y_test, y_pred_rf)
r_square_rf

0.7906922988676225